@import 'tailwindcss';
@plugin "tailwindcss-animate";
@custom-variant hover (&:hover);
@custom-variant dark (&:is(.dark *));

:root {
  --border: #000;
  --dark-border: #000;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --border-radius: 5px;
}

@theme inline {
  --color-main: #a3e636;
  --color-bg: #dfe5f2;
  --color-darkBg: #272933;
  --color-border: #000;
  --color-darkBorder: #000;
  --color-overlay: rgba(0, 0, 0, 0.8);
  --color-text: #000;
  --color-darkText: #e6e6e6;
  --color-secondaryBlack: #212121;

  --spacing-boxShadowX: var(--box-shadow-x);
  --spacing-boxShadowY: var(--box-shadow-y);
  --spacing-reverseBoxShadowX: var(--reverse-box-shadow-x);
  --spacing-reverseBoxShadowY: var(--reverse-box-shadow-y);

  --radius-base: var(--border-radius);

  --shadow-light: var(--box-shadow-x) var(--box-shadow-y) 0px 0px #000;
  --shadow-dark: var(--box-shadow-x) var(--box-shadow-y) 0px 0px #000;

  --font-weight-base: 500;
  --font-weight-heading: 700;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee: marquee 5s linear infinite;
  --animate-marquee2: marquee2 5s linear infinite;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}
